:root{
    --black: #1E1E24;
    --celeste: #07A0C3;
    --azul: #004FFF;
    --gris: #E0DDCF;
    --blaco: #F1F0EA;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--black);
    color: var(--blaco);
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background: linear-gradient(0deg, var(--azul), rgba(0, 0, 0, 0.575)), url(./imagenes/technology-web-line-biology-coding-html-1066093-pxhere.com.jpg);
    background-position: center;
    background-size: cover;
    color: var(--blaco);
}
header h1 a{
    text-decoration: none;
    color: var(--blaco);
}
header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: var(--blaco);
    margin: 5px;
    font-size: 1.5em;
    transition: all 1s;
}
header ul li a:hover{
    text-decoration: underline;
}
header h1{
    border-bottom: 4px solid var(--blaco);
    font-size: 2em;
    margin-bottom: 10px;
}
img{
    width: 250px;
    height: 300px;
    margin: 10px;
    border: none;
    transition: all .5s;
}
img:hover{
    position: relative;
    z-index: 50;
    width: 350px;
    height: 400px;
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.botones{
    background-color: var(--gris);
    border: none;
    border-radius: 16px;
    width: 6em;
    height: 2em;
    transition: all 1s;
    margin: 10px;
}
.botones:hover{
    background-color: var(--celeste);
    color: var(--blaco);
    box-shadow: 1px 1px 4px 0 var(--azul);
}
.sub-title{
    font-size: 3em;
    text-align: center;
}
.perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.rubrica{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
@media (min-width: 800px) {
    header{
        height: 40vh;
        flex-direction: initial;
        justify-content: space-between;
        align-items: flex-start;
    }
    header h1{
        position: relative;
        font-size: 3.5em;
        top: 30px;
        left: 20px;
    }
    header ul{
        position: relative;
        top: 60px;
        right: 20px;
    }
    header ul li a{
        font-size: 1.7em;
    }
    .perfil{
        margin: 20px 0;
        height: 20vh;
    }
    .perfil h3{
        font-size: 2em;
    }
    .sub-title{
        font-size: 4em;
    }
    img{
        width: 300px;
        height: 350px;
    }
    img:hover{
        width: 400px;
        height: 450px;
    }
    .botones{
        width: 12em;
        height: 3em;
        font-size: 1em;
    }
}
